/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 100 to 900 */
/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 100 to 900 */




header>section{
   width:1000px ;
   height: 380px;
   background-color:#C6E4D6;
   display: flex;
   padding: 100px 80px;
   margin: 50px 120px ;
   border-radius: 24px;
   /* width: 50%; */
   gap: 19px;
   
}
.open{
    /* background-color: red; */
    justify-content: left;
    width: 50%;
    
}
.button{
    background-color: #006A50;
    padding: 30px 15px;
    border: none;
    border-radius: 8px;
    color:#FFFFFF;

}
.color-1{
   color: #000000;
   font-size: 48px;
   font-weight: bold;
}
.color-2{
    color: #0E0E0E ;
    font-size: 24px;
}
.pic{
    width: 473px;
    height: 400px; 
    /* width: 50%; */
    
}
.saju{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.a{
    font-size:16px ;
    color:#0E0E0E ;
}
main{
  margin: 50px 120px ;;
}
.main{
    width: 1280px;
    /* height: 765px; */
    justify-content: left;
}
.secound{
    display: flex;
    gap: 24px;
}
.b{
    font-size: 20px;
    color: #0E0E0E;
    font-weight: bold;
}
.c{
    padding: 20px 11px;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
}
.v{
   background-color: #4487fa;
  
}
.n{
  background-color: #09a15c;
 
  text-align: center;
  justify-content: center;
}
.m{
  background-color: #fcc239;
}
.color-3{
  background-color: #aab8cf;
  border-radius: 16px; 
  padding: 32px 32px;
}
.color-4{
background-color: #c6f4d6;
border-radius: 16px; 
padding: 32px 32px;
}
.color-5{
 background-color: #f7ebcf;
 border-radius: 16px; 
 padding: 32px 32px;
}
 .satelite{
  height: 306px;
  width: 408px;
  background-repeat: no-repeat;
  background-size: contain;
  
  border-radius: 24px;
  background-image: url(assets/satelite.png);
}
.button-1{
    padding: 13px 26px ;
    color: #FFFFFF;
    background-color: #006A50;
    border-radius: 8px;
    border: none;
    
}
.button-1:hover{
    background-color: rgb(41, 39, 39);
    
}
.size{
    color: #0E0E0E;
    font-size: 32px;
    font-weight: bold;
}
.mubin{
    width: 1280px;
    height: 404px;
    display: flex;
    padding: 48px 48px;
    border-radius: 24px;
    gap: 32px;
}
.f{
   justify-content: left;

    width:50%;
    
}
.s{
    text-align: center;
}
.taka{
    padding: 40px 40px ;
    border-radius: 16px;
    font-size: 40px;
    font-weight: bold;
    background-color: #f3dcdc;

}
.rabbi{
    margin-bottom: 32px;
}

.taka:hover{
    background-color: #a9cebd;
}
.taka-a {
    background-color: #C6E4D6;
}
.main-taka{
    justify-content: space-between;
    display: flex;
}
.other-taka{
    padding: 40px 20px ;
    width: 1032px;
    height: 64px;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background-color: #f7f4f0;
}
.d{
    text-align: center;
}
.sub{
    width: 1280px ;
    height: 395px;
    border-radius: 24px;
   background-color:#C6E4D6;
   padding: 100px 80px ;
   justify-content: center;
   text-align: center;
}
footer{
    /* margin: 50px 120px ; */
}
.subscribe{
    display: flex;
    justify-content: center;
}
.button-3{
    border-radius: 0 8px 8px  0;
    padding:  17px 34px;
}
.button-4{
    border-radius:  8px 0  0 8px   ;
    border: none;
    padding: 18px 40px;
    color: #FFFFFF;
    width: 600px;
    height: 55px;
}
.j{
  font-size: 40px;
}
.h{
    font-size: 16px;
}